body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.note.new{
  background-color: rgb(190, 155, 236);
}
textarea{
  border: none;
  resize: none;
  background-color: rgb(190, 155, 236);
}
textarea:focus{
  outline: none;
}
textarea::placeholder{
  color: black;
  opacity: 0.5;
}

.save{
  background-color: blueviolet;
}
.note{
  background-color: rgb(96, 218, 201);
  border-radius: 7px;
  padding: 1rem;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  padding: 5px;
  margin: 1.5em;
}

.search input{
  border: none;
  background-color: rgb(184, 184, 184);
}
.search input:focus{
  outline: none;
}
.search input::placeholder{
  color: black;
  opacity: 0.5;
}

.search-icons{
  cursor: pointer;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}